# sublime files #
#################
*.sublime-project
*.sublime-workspace

# build tools #
###############
node_modules/

# cached files #
################
*/.sass-cache

# other files #
###############
.Trash-1000

/sftp-config.json
