/**
  *  File:         clean-greader.css
  **********************************
  *
  *  Description:  tiny tiny rss theme based on the latest Google Reader and inspired by other Google Services
  *  
  *  Author:       Sven Flickinger (naeramarth7)
  *  File Created: 2013-06-14
  *  
  *  Last Change:  Sven Flickinger (naeramarth7)
  *  File Changed: 2013-06-18
**/



/**
  * color codes
  *************
  * color           code      example
  ***********************************
  * white           #fff      card backgrounds
  * light gray      #f0f0f0   borders, inactive counter
  * medium gray     #d8d8d8   read article header
  * medium gray     #e5e5e5   main background
  * medium gray     #eee      navigation mouse over
  * dark gray       #737373   selection text
  * red             #dd4b39   selected tree
**/



/**
  * imports
**/

@import "default.css";



/**
  * main elements
**/

/* vertical splitter ( -> disable) */
.claro .dijitSplitterV {
  border-width: 0px;
  display: none;
  width: 0px;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  margin: 1px 0px 2px 0px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #fff;
}

/* general settings */
html, body, body#ttrssMain, body#ttrssPrefs, body#ttrssLogin {
  height: 100% !important;
  background-color: #E5E5E5;
  font-family: arial, sans-serif;
  font-size: 12px;
}

body#ttrssMain #feedTree {
  font-family: arial, sans-serif;
  font-size: 12px;
}



/**
  * feed tree / navigation
**/

/* main */
div#feeds-holder {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  background-color: #ffffff;
  border: 0 solid #d8d8d8;
  border-width: 1px 1px 2px 1px;
  margin: 10px;
  padding: 16px 8px;
  width: 240px !important;
}

/* tree row */
div#feeds-holder div.dijitTreeRow {
  -webkit-transition: none !important;
  -moz-transition:    none !important;
  -o-transition:      none !important;
  -ms-transition:     none !important;
  transition:         none !important;

  padding-bottom: 2px;
  padding-top: 2px;
}

/* tree row (hover) */
.claro .dijitTreeRowHover {
  background-color: #EEE !important;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0;
}

/* tree row (selected) */
.claro .dijitTreeRowSelected {
  background-color: #FFF;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #dd4b39 !important;
  padding: 0;
}

/* counter node */
div#feedTree .counterNode {
  background-color: #fff;
  border-color: #d9d9d9;
  border-radius: 2px;
  color: #999;
  float: right;
  font-weight: normal;
  font-size: 10px;
}

/* counter node (selected) */
.claro #feedTree .dijitTreeRowSelected .counterNode {
  color: #dd4b39;
  border-color: #dd4b39;
}



/**
  * content panel
**/

tt#header-wrap, #content-wrap {
  border-width: 0px;
}



/**
  * toolbar (including headlines-toolbar)
**/

div#headlines-toolbar,
div#toolbar {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  border: 0 solid #d8d8d8;
  border-width: 1px 1px 2px 1px;
}

div#toolbar {
  border-bottom-width: 0;
  margin: 10px 10px 0 0;
}

div#toolbar > div.dijitToolbar {
  background-color:#fff;
  border: none;
  padding: 12px 6px;
  position:relative;
}

div#headlines-toolbar {
  background-color: #f5f5f5;
  border-top-width: 0;
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
  height: auto;
  margin: 0 10px 0 0;
  padding: 0px 6px;
  position:relative;
}

/* selection [all, unread, ...] */
div#headlines-toolbar > a {
  color: #737373;
  padding: 5px;
}

/* selection [all, unread, ...] (hover) */
div#headlines-toolbar > a:hover {
  color: #000;
  border-bottom: 2px solid #dd4b39;
  padding: 4px 5px;
}

/* selection [all, unread, ...] pseudo element #1 */
div#headlines-toolbar > a:before {
  content: "";
  width: 24px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: -12px;
  padding: 12px 0px;
}

/* selection [all, unread, ...] pseudo element #2 */
div#headlines-toolbar > a:after {
  content: "";
  width: 24px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: -12px;
}



/**
  * feed stream
**/

/* feed stream main div */
div#headlines-frame {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  margin: 44px 10px 10px 0px;
  position:relative;
  /* TODO: shadow bottom */;
}

#headlines-spacer {
  display: none;
}

/* single feed element (general) */
div.cdm.expandable {
  background-color: #EEE;
  border: 0 solid #d8d8d8;
  border-width: 0 0 1px 0;
  margin: 0;
}

/* single feed element (selected) */
div.cdm.expandable.Selected {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  border: 0 solid #d8d8d8;
  border-left-color: #dd4b39;
  border-width: 0 0 1px 0;
}

/* last feed element */
div.cdm.expandable:first-of-type { border-top-width: 0; }

/* feed header (general) */
div.cdm.expandable div.cdmHeader { background-color: #eee; }
div.cdm.expandable div.cdmHeader a.title { font-weight: normal; }

/* feed header (unread) */
div.cdm.expandable.Unread div.cdmHeader { background-color: #fff; }
div.cdm.expandable.Unread div.cdmHeader a.title { font-weight: bold; }

/* feed header (active) */
div.cdm.expandable.active div.cdmHeader { background-color: #eee; }
div.cdm.expandable.active div.cdmHeader a.title { color: #dd4b39; font-weight: bold; }

/* feed header (hover, not active) */
div.cdm.expandable:hover:not(.Selected) { background: #eee; border-left-color: #dd4b39; }

/* feed indicator */
div#headlines-frame div.cdm.expandable div.cdmHeader div.hlFeed a {
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  color: #737373;
  font-style: normal;
  font-size: 9px;
  padding: 1px 8px;
}

/* feed indicator (hover) */
div#headlines-frame div.cdm.expandable div.cdmHeader div.hlFeed a:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid #dd4b39;
  border-radius: 2px;
  color: #dd4b39;
  font-style: normal;
  font-size: 9px;
  padding: 1px 8px;
}



/**
  * icons
**/

.claro .dijitTreeIcon {
  opacity: 0.4000000059604645;
}

.claro .dijitFolderClosed,
.claro .dijitFolderOpened,
.claro .dijitTreeExpandoClosed,
.claro .dijitTreeExpandoOpened {
  background-image: url("clean-greader-001.png");
}

.claro .dijitFolderClosed,
.claro .dijitFolderOpened {
  background-position: -44px -120px;
}

.claro .dijitTreeExpandoClosed,
.claro .dijitTreeRowHover .dijitTreeExpandoClosed {
  background-position: -0px -120px;
}

.claro .dijitTreeExpandoOpened,
.claro .dijitTreeRowHover .dijitTreeExpandoOpened {
  background-position: -22px -120px;
}
