/**
  *  File:         clean-greader.css
  **********************************
  *
  *  Description:  tiny tiny rss theme based on the latest Google Reader and inspired by other Google Services
  *  
  *  Author:       Sven Flickinger (naeramarth7)
  *  File Created: 2013-06-14
**/

/**
  * color codes
  *************
  * color           code      example
  ***********************************
  * white           #fff      card backgrounds
  * medium gray     #d8d8d8   read article header
  * medium gray     #e5e5e5   main background
  * medium gray     #eee      navigation mouse over
  * dark gray       #737373   selection text
  * red             #dd4b39   selected tree
  * dark gray text  #333333   tree text
**/

/**
  * imports
**/

/*@import "default.css";*/
@import "clean-greader/css/normalize.css";
@import "clean-greader/css/main.css";
