/**
  *  File:         _colors.scss
  *****************************
  *
  *  Description:   colors used in the clean-greader theme
  *  
  *  Author:        Sven Flickinger (naeramarth7)
  *  File Created:  2013-08-29
**/

$clr-red:               #dd4b39;
$clr-blue:              #2193ea;

$clr-bg-active:         #fff;
$clr-bg-active-second:  #f5f5f5;
$clr-bg-passive:        #e5e5e5;

$clr-highlight:         #f5f5f5;

$clr-brdr-light:        #d8d8d8;
$clr-brdr-dark:         #777;

$clr-fnt-main:          #333;
$clr-fnt-main-second:   #777;

$clr-icon-highlight:    #333;
$clr-icon-active:       #777;
$clr-icon-passive:      #d8d8d8;