/**
  *  File:         _dimensions.scss
  *********************************
  *
  *  Description:   dimensions used in the clean-greader theme
  *
  *  Author:        Sven Flickinger (naeramarth7)
  *  File Created:  2013-08-29
**/

$card-gap-size: 12px;
$card-dock-size: 32px;
$card-nav-width: 320px;
$notify-width: 320px;

$content-padding: 8px;
$max-content-width: 700px;

/* variable for content padding --> align to header text */
$content-padding-to-header: 71px;
