/**
  *  File:         _fonts.scss
  ****************************
  *
  *  Description:   fonts used in the clean-glreader theme
  *  
  *  Author:        Sven Flickinger (naeramarth7)
  *  File Created:  2013-08-28
**/

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/FontAwesome.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
