/**
  *  File:         main.css
  *************************
  *
  *  Description:  outsourced css part for styles on index page
  *  
  *  Author:       Sven Flickinger (naeramarth7)
  *  File Created: 2013-06-28
**/

/**
  * main elements
**/

:focus {
  outline: none;
}

/* vertical splitter ( -> disable) */
.claro .dijitSplitterV {
  border-width: 0;
  display: none;
  width: 0;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  margin: 1px 0 2px 0;
}
 
::-webkit-scrollbar-thumb {
  background-color: #fff;
}

/* general settings */
html, body, body#ttrssMain, body#ttrssPrefs, body#ttrssLogin {
  height: 100% !important;
  background-color: #E5E5E5;
  font-family: arial, sans-serif;
  font-size: 12px;
}

body#ttrssMain #feedTree {
  font-family: arial, sans-serif;
  font-size: 12px;
}



/**
  * feed tree / navigation
**/

/* main */
div#feeds-holder {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  background-color: #ffffff;
  border: 0 solid #d8d8d8;
  border-width: 1px 1px 2px 1px;
  margin: 10px;
  padding: 16px 8px;
  width: 240px !important;
}

/* tree row */
body#ttrssMain #feedTree div.dijitTreeRow {
  height: 18px;
  line-height: 18px;
}

body#ttrssMain #feedTree div.dijitTreeRow span.dijitTreeContent {
  vertical-align: middle;  
}

div#feeds-holder div.dijitTreeRow {
  -moz-transition:    none !important;
  -ms-transition:     none !important;
  -o-transition:      none !important;
  -webkit-transition: none !important;
  transition:         none !important;

  padding-bottom: 2px;
  padding-top: 2px;
}

/* tree row (hover) */
.claro .dijitTreeRowHover {
  background-color: #EEE !important;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0;
}

/* tree row (selected) */
.claro .dijitTreeRowSelected {
  background-color: #FFF;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #dd4b39 !important;
  padding: 0;
}

/* counter node */
div#feedTree .counterNode {
  background-color: #fff;
  border-color: #d9d9d9;
  border-radius: 0px;
  color: #999;
  float: right;
  font-weight: normal;
  font-size: 10px;
  text-shadow: none;
  margin: 0 4px;
  padding: 0;
}

/* counter node (selected) */
.claro #feedTree .dijitTreeRowSelected .counterNode {
  color: #dd4b39;
  border-color: #dd4b39;
}



/**
  * content panel
**/

#header-wrap, #content-wrap {
  height: 100%;
  border-width: 0;
}



/**
  * toolbar (including headlines-toolbar)
**/

form#main_toolbar_form {
   padding: 0; 
}

div#headlines-toolbar,
div#toolbar {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  border: 0 solid #d8d8d8;
  border-width: 1px 1px 2px 1px;
}

div#toolbar {
  border-bottom-width: 0;
  margin: 10px 10px 0 0;
}

div#toolbar > div.dijitToolbar {
  background-color:#fff;
  border: none;
  padding: 4px 4px 6px;
  position:relative;
}

#toolbar div.actionChooser {
  padding: 0;
}

div#headlines-toolbar {
  background-color: #f5f5f5;
  border-top-width: 0;
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
  height: auto;
  margin: 0 10px 0 0;
  padding: 0 6px;
  line-height: normal;
}

/* selection [all, unread, ...] */
div#headlines-toolbar > a {
  position: relative;
  bottom: 4px;
  display: inline;
  position: relative;
  color: #737373;
  padding: 2px 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

/* selection [all, unread, ...] (hover) */
div#headlines-toolbar > a:hover {
  color: #000;
  border-bottom: 2px solid #dd4b39;
  padding: 2px 4px;
}

/* selection [all, unread, ...] pseudo element #1 */
div#headlines-toolbar > a:before {
  content: "";
  width: 24px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: -12px;
  padding: 12px 0;
}

/* selection [all, unread, ...] pseudo element #2 */
div#headlines-toolbar > a:after {
  content: "";
  width: 24px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: -12px;
}

div#headlines-toolbar > span.r {
  display: inline-block;
  line-height: normal;
  float: right;
  vertical-align: baseline;
  position: relative;
  top: 6px;
}



/**
  * feed stream
**/

/* feed stream main div */
div#headlines-frame {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  margin: 10px 10px 10px 0;
  position: relative;
  top: 30px !important;
  height: auto !important;
  bottom: 0 !important;
}

#headlines-spacer {
  display: none;
}

/* single feed element (general) */
div.cdm.expandable {
  background-color: #EEE;
  border: 0 solid #d8d8d8;
  border-width: 0 0 1px 0;
  margin: 0;
}

/* single feed element (selected) */
div.cdm.expandable.Selected {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  border: 0 solid #d8d8d8;
  border-left-color: #dd4b39;
  border-width: 0 0 1px 0;
}

/* last feed element */
div.cdm.expandable:first-of-type { border-top-width: 0; }

/* feed header (general) */
div.cdm.expandable div.cdmHeader { background-color: #eee; padding-top: 2px}
div.cdm.expandable div.cdmHeader a.title { font-weight: normal; }

/* feed header (unread) */
div.cdm.expandable.Unread div.cdmHeader { background-color: #fff; }
div.cdm.expandable.Unread div.cdmHeader a.title { font-weight: bold; }

/* feed header (active) */
div.cdm.expandable.active div.cdmHeader { background-color: #eee; }
div.cdm.expandable.active div.cdmHeader a.title { color: #dd4b39; font-weight: bold; }

/* feed header (hover, not active) */
div.cdm.expandable:hover:not(.Selected) { background: #eee; border-left-color: #dd4b39; }

/* feed indicator */
div#headlines-frame div.cdm.expandable div.cdmHeader div.hlFeed a,
div#floatingTitle div.hlFeed a {
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid #d9d9d9;
  border-radius: 0;
  color: #737373;
  font-style: normal;
  font-size: 9px;
  padding: 2px 8px;
  vertical-align: middle;
}

/* feed indicator (hover) */
div#headlines-frame div.cdm.expandable div.cdmHeader div.hlFeed a:hover,
div#floatingTitle div.hlFeed a:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid #dd4b39;
  border-radius: 0px;
  color: #dd4b39;
  font-style: normal;
  font-size: 9px;
  padding: 1px 8px;
}

/* feed title - feed icon */
img.tinyFeedIcon {
  display: none;
}



/**
  * feed content
**/
div.cdmContentInner {
  display: block;
  float: left;
  max-width: 600px;
}

div.cdmContentInner p,
div.cdmContentInner div,
div.cdmContentInner ul {
   max-width: none;
}

/* main feed image */
div.cdmContentInner div[xmlns="http://www.w3.org/1999/xhtml"]:first-child a img,
div.cdmContentInner p:first-of-type img,
div.cdmContentInner > span:first-child > span:first-child > img:first-child {
  float: left;
  margin: 0 32px 16px 0 !important;
  max-height: 128px;
  max-width: 128px;
  width: auto;
}

/* images (except of main) and vides*/
div.cdmContentInner p > img,
div.cdmContentInner p > a:not([href*="feedburner"]) > img,
div.cdmContentInner div > img,
div.cdmContentInner div > a:not([href*="feedburner"]) > img,
div.cdmContentInner p iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* tables */
div.cdmContentInner table {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}



/**
  * icons
**/

.claro .dijitTreeIcon {
  opacity: 0.4;
}

.claro .dijitFolderClosed,
.claro .dijitFolderOpened,
.claro .dijitTreeExpandoClosed,
.claro .dijitTreeExpandoOpened {
  background-image: url("../clean-greader-img/clean-greader-001.png");
}

/* folders (closed and opened) */
.claro .dijitFolderClosed,
.claro .dijitFolderOpened {
  background-position: -44px -120px;
}

/* tree closed */
.claro .dijitTreeExpandoClosed,
.claro .dijitTreeRowHover .dijitTreeExpandoClosed {
  background-position: 0 -120px;
}

/* tree opened */
.claro .dijitTreeExpandoOpened,
.claro .dijitTreeRowHover .dijitTreeExpandoOpened {
  background-position: -22px -120px;
}

/* special tree icons */
.dijitTreeIcon.feedIcon {
  margin-right: 4px;
}

.dijitTreeIcon.feedIcon:not([src^="feed-icons"]),
/* 1.8 */ div#headlines-toolbar img[src$="images/pub_set.svg"],
/* 1.8 */ div#headlines-toolbar img[src$="images/pub_set.png"] {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.4;
}

/* all articles   */
/* 1.8 */ .dijitTreeIcon.feedIcon[src$="images/tag.png"],
/* 1.9 */ .dijitTreeIcon.feedIcon[src$="images/folder.png"]
{ background-position: -23px -82px; }
/* fresh articles */
.dijitTreeIcon.feedIcon[src$="images/fresh.png"]
{ background-position: -23px -100px; }
/* starred        */
/* 1.8 */ .dijitTreeIcon.feedIcon[src$="images/mark_set.svg"],
/* 1.8 */ .dijitTreeIcon.feedIcon[src$="images/star.png"]
{ background-image: url("../clean-greader-img//clean-greader-002.png"); background-position: -52px -2px; }
/* published      */
/* 1.8 */ .dijitTreeIcon.feedIcon[src$="images/pub_set.svg"],
          div#headlines-toolbar img[src$="images/pub_set.svg"],
/* 1.8 */ .dijitTreeIcon.feedIcon[src$="images/feed.png"],
          div#headlines-toolbar img[src$="images/pub_set.png"]
{ background-position: -2px -79px; }
/* archived       */
.dijitTreeIcon.feedIcon[src$="images/archive.png"]
{ background-position: -44px -120px; }
/* recently read  */
/* 1.8 */ .dijitTreeIcon.feedIcon[src$="images/recently_read.png"],
/* 1.9 */ .dijitTreeIcon.feedIcon[src$="images/time.png"]
{ background-position: -87px -121px; }

/* feed header icons */
/* published */
/* 1.8 */ div.cdmHeader img[src$="images/pub_set.svg"],
/* 1.9 */ div.cdmHeader img[src$="images/pub_set.png"],
div#floatingTitle img[src$="images/pub_set.png"] {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-position: -2px -79px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.8;
}

/* not published */
/* 1.8 */ div.cdmHeader img[src$="images/pub_unset.svg"],
/* 1.9 */ div.cdmHeader img[src$="images/pub_unset.png"],
div#floatingTitle img[src$="images/pub_unset.png"] {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-position: -2px -79px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.2;
}

/* not published (mouseover)*/
/* 1.8 */ div.cdmHeader img[src$="images/pub_unset.svg"]:hover,
/* 1.9 */ div.cdmHeader img[src$="images/pub_unset.png"]:hover,
div#floatingTitle img[src$="images/pub_unset.png"]:hover {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-position: -2px -79px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.4;
}

/* starred */
/* 1.8 */ div.cdmHeader img[src$="images/mark_set.svg"],
/* 1.9 */ div.cdmHeader img[src$="images/mark_set.png"],
div#floatingTitle img[src$="images/mark_set.png"] {
  background-image: url("../clean-greader-img/clean-greader-002.png");
  background-position: -52px -2px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.8;
}

/* not starred */
/* 1.8 */ div.cdmHeader img[src$="images/mark_unset.svg"],
/* 1.9 */ div.cdmHeader img[src$="images/mark_unset.png"],
div#floatingTitle img[src$="images/mark_unset.png"] {
  background-image: url("../clean-greader-img/clean-greader-002.png");
  background-position: -26px -2px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.2;
}

/* not starred (mouseover)*/
/* 1.8 */ div.cdmHeader img[src$="images/mark_unset.svg"]:hover,
/* 1.9 */ div.cdmHeader img[src$="images/mark_unset.png"]:hover,
div#floatingTitle img[src$="images/mark_unset.png"]:hover {
  background-image: url("../clean-greader-img/clean-greader-002.png");
  background-position: -52px -2px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.2;
}

/* go */
div#floatingTitle img[src$="images/page_white_go.png"] {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-position: -64px -98px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.4;
}

/* feed title - checkbox  wrapper */
.claro div.dijitCheckBox {
  background-image: none;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  margin: 0 2px 0 2px;
  padding: 0;
  width: 12px;
  height: 12px;
}

/* feed title - checkbox */
input[type="checkbox"] {
  opacity: 0;
  position: relative;
  left: -5px;
  height: 16px;
}

/* feed title - checkbox wrapper (checked) */
.claro div.dijitCheckBox.dijitChecked {
  background-image: url("../clean-greader-img/checkmark.png");
  background-position: -5px -5px;
}

/* feed title - checkbox wrapper (hover) */
.claro div.dijitCheckBox:hover {
  background-color: #eee;
}

/* resize containers button */
.claro .dijitToolbar .dijitButton .dijitButtonNode:hover {
  -webkit-transition: none !important;
  -moz-transition:    none !important;
  -o-transition:      none !important;
  -ms-transition:     none !important;
  transition:         none !important;
  background: rgba(0, 0, 0, 0);
  border: 0 solid #fff;
  padding: 2px;
}

body#ttrssMain.claro .dijitToolbar .dijitButton .dijitButtonNode .dijitButtonContents {
  background-image: url("../clean-greader-img/leftright.jpg");
  background-repeat: no-repeat;
  background-size: 20px;
  content: url("../clean-greader-img/blank_icon.gif");
  margin: 0 8px;
  opacity: 0.4;
  outline: none;
  position: relative;
  top: 2px;
}

.claro .dijitToolbar .dijitButton .dijitButtonNode .dijitButtonContents:hover {
  opacity: 0.8;
}

#selected_prompt,
#feed_title {
  display: none;
}

/* feed footer - tag icon */
div.cdmFooter img[src$="images/tag.png"] {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-position: -23px -82px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.4;
}



/**
  * floating title (tt-rss 1.9+)
**/
div#floatingTitle {
  -moz-box-shadow:     rgba(0, 0, 0, 0.15) -1px 2px 4px 0px;
  -webkit-box-shadow:  rgba(0, 0, 0, 0.15) -1px 2px 4px 0px;
  box-shadow:          rgba(0, 0, 0, 0.15) -1px 2px 4px 0px;

  background-color: #eee;
  top: 30px;
  border-color: rgb(216, 216, 216); 
  border-width: 0px;
  border-style: solid;
  margin: 11px 23px 0 1px;
}

div#floatingTitle a.title {
  color: #dd4b39;
  font-size: 12px;
  font-weight: bold;
}

div#floatingTitle > *,
div#floatingTitle span.updated,
div#floatingTitle div.hlFeed {
  padding: 5px;
}

div#floatingTitle span.titleWrap {
  vertical-align: top;
  position: relative;
}

div#floatingTitle span.titleWrap .collapseBtn img {
  vertical-align: middle;
}

div#floatingTitle img.hlScorePic {
  display: block;
}



/**
  * controls
**/

/* drop down menus in main toolbar */
.claro .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.claro .dijitToolbar .dijitComboButton .dijitButtonNode,
.claro .dijitToolbar .dijitValidationTextBox {
  -webkit-transition: none !important;
  -moz-transition:    none !important;
  -o-transition:      none !important;
  -ms-transition:     none !important;
  transition:         none !important;

  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}

.claro .dijitToolbar .dijitDropDownButton,
.claro .dijitToolbar .dijitComboButton,
.claro .dijitToolbar .dijitValidationTextBox {
  border: 1px solid rgb(198, 198, 198);
  background: #f5f5f5;
  margin: 0px 4px;
}

.claro .dijitToolbar .dijitDropDownButton,
.claro .dijitToolbar .dijitComboButton,
.claro .dijitToolbar .dijitValidationTextBox .dijitButtonContents {
  padding: 5px;
}

.claro .dijitToolbar .dijitDropDownButton:hover,
.claro .dijitComboButton:hover,
.claro .dijitToolbar .dijitValidationTextBox:hover {
  background: #fff;
  border: 1px solid rgb(187, 187, 187);
}

.claro .dijitToolbar .dijitDropDownButton .dijitButtonText:after,
.claro .dijitToolbar .dijitComboButton .dijitButtonNode.dijitDownArrowButton, 
.claro .dijitToolbar .dijitValidationTextBox .dijitButtonContents:after {
  -webkit-transition: none !important;
  -moz-transition:    none !important;
  -o-transition:      none !important;
  -ms-transition:     none !important;
  transition:         none !important;

  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-color: red;
  content: url("../clean-greader-img/blank_icon.gif");
  border: 0px solid black;
  position: relative;
  opacity: 0.4;
  background-color: transparent;
}

.claro .dijitToolbar .dijitDropDownButton .dijitButtonText {
  height: 14px;
}


.claro .dijitToolbar .dijitDropDownButton .dijitButtonText:after { background-position: -21px -124px; }
.claro .dijitToolbar .dijitComboButton .dijitButtonNode.dijitDownArrowButton { background-position: -23px -118px; }
.claro .dijitToolbar .dijitValidationTextBox .dijitButtonContents:after { background-position: -23px -123px; }

.claro .dijitToolbar .dijitValidationTextBox .dijitArrowButtonContainer {
  border: 0px solid #fff;
}

.claro .dijitToolbar .dijitDropDownButton .dijitDownArrowButton .dijitArrowButtonInner,
.claro .dijitToolbar .dijitDropDownButton .dijitDownArrowButton .dijitArrowButtonChar,
.claro .dijitToolbar .dijitValidationTextBox .dijitArrowButtonContainer {
  display: none;
}

.claro .dijitToolbar .dijitDropDownButton .dijitDownArrowButton,
.claro .dijitToolbar .dijitComboButton .dijitDownArrowButton,
.claro .dijitToolbar .dijitValidationTextBox .dijitButtonContents {
  border: 0px solid #fff;
}


.claro .dijitToolbar .dijitComboButton .dijitButtonNode,
.claro .dijitToolbar .dijitDropDownButton .dijitButtonNode {
  background: transparent;
  background-image: none;
  border: none;
  border-radius: none;
}

.claro .dijitButtonText,
.claro .dijitSelectLabel {
  margin: 0;
  padding: 0;
}

.dijitReset.dijitInline.dijitButtonText {
  vertical-align: top; 
}

/* popup menu */
.claro .dijitMenu {
  border: 1px solid rgba(0, 0, 0, 0.2);
  x-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 16px 0px;
  -webkit-box-shadow: none;
}

.claro .dijitMenuPopup .dijitMenuItemLabel {
  font-size: 12px;
}


.claro .dijitSelectSelectedOption *,
.claro .dijitSelectMenu .dijitMenuItemSelected.dijitSelectSelectedOption td, .claro .dijitComboBoxMenu .dijitMenuItemSelected.dijitSelectSelectedOption {
  color: #dd4b39;
}

.claro .dijitSelectMenu .dijitMenuItemHover td, .claro .dijitSelectMenu .dijitMenuItemSelected td, .claro .dijitMenuItemHover, .claro .dijitMenuItemSelected {
  background: #eee;
  border-width: 1px 0;
  border-color: rgba(0, 0, 0, 0);
}

/* drop down menus in headlines toolbar */
div#headlines-toolbar .dijitValidationTextBoxLabel {
  color: #737373;
  font-size: 12px;
  border-bottom: 2px solid transparent;
  margin: 0;
  padding: 2px 18px;
}

div#headlines-toolbar .dijitValidationTextBoxLabel:hover {
  color: #333333;
  border-bottom: 2px solid #dd4b39;
}

.claro #headlines-toolbar .dijitValidationTextBox {
  -webkit-transition: none !important;
  -moz-transition:    none !important;
  -o-transition:      none !important;
  -ms-transition:     none !important;
  transition:         none !important;

  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  
  vertical-align: bottom;
  top: 1px;
}

.claro #headlines-toolbar .dijitValidationTextBox:hover { background: transparent; }
.claro #headlines-toolbar .dijitValidationTextBox .dijitArrowButtonContainer { display: none; }
.claro #headlines-toolbar .dijitValidationTextBox .dijitButtonContents { border: 0px solid #fff; }
