/**
  *  File:         main.css
  *************************
  *
  *  Description:  outsourced css part for styles on index page
  *  
  *  Author:       Sven Flickinger (naeramarth7)
  *  File Created: 2013-06-28
**/

/**
  * main elements
**/

:focus {
  outline: none;
}

/* vertical splitter ( -> disable) */
.claro .dijitSplitterV {
  border-width: 0;
  display: none;
  width: 0;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  margin: 1px 0 2px 0;
}
 
::-webkit-scrollbar-thumb {
  background-color: #fff;
}

/* general settings */
html, body, body#ttrssMain, body#ttrssPrefs, body#ttrssLogin {
  height: 100% !important;
  background-color: #E5E5E5;
  font-family: arial, sans-serif;
  font-size: 12px;
}

body#ttrssMain #feedTree {
  font-family: arial, sans-serif;
  font-size: 12px;
}



/**
  * feed tree / navigation
**/

/* main */
div#feeds-holder {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  background-color: #ffffff;
  border: 0 solid #d8d8d8;
  border-width: 1px 1px 2px 1px;
  margin: 10px;
  padding: 16px 8px;
  width: 240px !important;
}

/* tree row */
div#feeds-holder div.dijitTreeRow {
  -moz-transition:    none !important;
  -ms-transition:     none !important;
  -o-transition:      none !important;
  -webkit-transition: none !important;
  transition:         none !important;

  padding-bottom: 2px;
  padding-top: 2px;
}

/* tree row (hover) */
.claro .dijitTreeRowHover {
  background-color: #EEE !important;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0;
}

/* tree row (selected) */
.claro .dijitTreeRowSelected {
  background-color: #FFF;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #dd4b39 !important;
  padding: 0;
}

/* counter node */
div#feedTree .counterNode {
  background-color: #fff;
  border-color: #d9d9d9;
  border-radius: 0px;
  color: #999;
  float: right;
  font-weight: normal;
  font-size: 10px;
  text-shadow: none;
  margin: 2px 8px 0;
  padding: 0;
}

/* counter node (selected) */
.claro #feedTree .dijitTreeRowSelected .counterNode {
  color: #dd4b39;
  border-color: #dd4b39;
}



/**
  * content panel
**/

#header-wrap, #content-wrap {
  height: 100%;
  border-width: 0;
}



/**
  * toolbar (including headlines-toolbar)
**/

form#main_toolbar_form {
   padding: 0; 
}

div#headlines-toolbar,
div#toolbar {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  border: 0 solid #d8d8d8;
  border-width: 1px 1px 2px 1px;
}

div#toolbar {
  border-bottom-width: 0;
  margin: 10px 10px 0 0;
}

div#toolbar > div.dijitToolbar {
  background-color:#fff;
  border: none;
  padding: 12px 6px;
  position:relative;
}

div#headlines-toolbar {
  background-color: #f5f5f5;
  border-top-width: 0;
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
  height: auto;
  margin: 0 10px 0 0;
  padding: 0 6px;
}

/* selection [all, unread, ...] */
div#headlines-toolbar > a {
  color: #737373;
  padding: 5px;
}

/* selection [all, unread, ...] (hover) */
div#headlines-toolbar > a:hover {
  color: #000;
  border-bottom: 2px solid #dd4b39;
  padding: 4px 5px;
}

/* selection [all, unread, ...] pseudo element #1 */
div#headlines-toolbar > a:before {
  content: "";
  width: 24px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: -12px;
  padding: 12px 0;
}

/* selection [all, unread, ...] pseudo element #2 */
div#headlines-toolbar > a:after {
  content: "";
  width: 24px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: -12px;
}



/**
  * feed stream
**/

/* feed stream main div */
div#headlines-frame {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  margin: 10px 10px 10px 0;
  position: relative;
  top: 34px !important;
  height: auto !important;
  bottom: 0 !important;
}

#headlines-spacer {
  display: none;
}

/* single feed element (general) */
div.cdm.expandable {
  background-color: #EEE;
  border: 0 solid #d8d8d8;
  border-width: 0 0 1px 0;
  margin: 0;
}

/* single feed element (selected) */
div.cdm.expandable.Selected {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;

  border: 0 solid #d8d8d8;
  border-left-color: #dd4b39;
  border-width: 0 0 1px 0;
}

/* last feed element */
div.cdm.expandable:first-of-type { border-top-width: 0; }

/* feed header (general) */
div.cdm.expandable div.cdmHeader { background-color: #eee; }
div.cdm.expandable div.cdmHeader a.title { font-weight: normal; }

/* feed header (unread) */
div.cdm.expandable.Unread div.cdmHeader { background-color: #fff; }
div.cdm.expandable.Unread div.cdmHeader a.title { font-weight: bold; }

/* feed header (active) */
div.cdm.expandable.active div.cdmHeader { background-color: #eee; }
div.cdm.expandable.active div.cdmHeader a.title { color: #dd4b39; font-weight: bold; }

/* feed header (hover, not active) */
div.cdm.expandable:hover:not(.Selected) { background: #eee; border-left-color: #dd4b39; }

/* feed indicator */
div#headlines-frame div.cdm.expandable div.cdmHeader div.hlFeed a {
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid #d9d9d9;
  border-radius: 0;
  color: #737373;
  font-style: normal;
  font-size: 9px;
  padding: 1px 8px;
}

/* feed indicator (hover) */
div#headlines-frame div.cdm.expandable div.cdmHeader div.hlFeed a:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid #dd4b39;
  border-radius: 0px;
  color: #dd4b39;
  font-style: normal;
  font-size: 9px;
  padding: 1px 8px;
}

/* feed title - feed icon */
img.tinyFeedIcon {
  display: none;
}



/**
  * icons
**/

.claro .dijitTreeIcon {
  opacity: 0.4;
}

.claro .dijitFolderClosed,
.claro .dijitFolderOpened,
.claro .dijitTreeExpandoClosed,
.claro .dijitTreeExpandoOpened {
  background-image: url("../clean-greader-img/clean-greader-001.png");
}

/* folders (closed and opened) */
.claro .dijitFolderClosed,
.claro .dijitFolderOpened {
  background-position: -44px -120px;
}

/* tree closed */
.claro .dijitTreeExpandoClosed,
.claro .dijitTreeRowHover .dijitTreeExpandoClosed {
  background-position: 0 -120px;
}

/* tree opened */
.claro .dijitTreeExpandoOpened,
.claro .dijitTreeRowHover .dijitTreeExpandoOpened {
  background-position: -22px -120px;
}

/* special tree icons */
.dijitTreeIcon.feedIcon {
  margin-right: 4px;
}

.dijitTreeIcon.feedIcon:not([src^="feed-icons"]),
div#headlines-toolbar img[src$="images/pub_set.svg"] {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.4;
}

/* all articles   */
.dijitTreeIcon.feedIcon[src$="images/tag.png"]            { background-position: -23px -82px; }
/* fresh articles */
.dijitTreeIcon.feedIcon[src$="images/fresh.png"]          { background-position: -23px -100px; }
/* starred        */
.dijitTreeIcon.feedIcon[src$="images/mark_set.svg"]       { background-image: url("../clean-greader-img//clean-greader-002.png"); background-position: -52px -2px; }
/* published      */
.dijitTreeIcon.feedIcon[src$="images/pub_set.svg"],
div#headlines-toolbar img[src$="images/pub_set.svg"]      { background-position: -2px -79px; }
/* archived       */
.dijitTreeIcon.feedIcon[src$="images/archive.png"]        { background-position: -44px -120px; }
/* recently read  */
.dijitTreeIcon.feedIcon[src$="images/recently_read.png"]  { background-position: -87px -121px; }

/* feed header icons */
/* published */
div.cdmHeader img[src$="images/pub_set.svg"] {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-position: -2px -79px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.8;
}

/* not published */
div.cdmHeader img[src$="images/pub_unset.svg"] {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-position: -2px -79px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.2;
}

/* not published (mouseover)*/
div.cdmHeader img[src$="images/pub_unset.svg"]:hover {
  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-position: -2px -79px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.4;
}

/* starred */
div.cdmHeader img[src$="images/mark_set.svg"] {
  background-image: url("../clean-greader-img/clean-greader-002.png");
  background-position: -52px -2px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.8;
}

/* not starred */
div.cdmHeader img[src$="images/mark_unset.svg"] {
  background-image: url("../clean-greader-img/clean-greader-002.png");
  background-position: -26px -2px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.2;
}

/* not starred (mouseover)*/
div.cdmHeader img[src$="images/mark_unset.svg"]:hover {
  background-image: url("../clean-greader-img/clean-greader-002.png");
  background-position: -52px -2px;
  content: url("../clean-greader-img/blank_icon.gif");
  opacity: 0.2;
}

/* feed title - checkbox  wrapper */
.claro div.dijitCheckBox {
  background-image: none;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  margin: 0 2px 0 2px;
  padding: 0;
  width: 12px;
  height: 12px;
}

/* feed title - checkbox */
input[type="checkbox"] {
  opacity: 0;
  position: relative;
  left: -5px;
  height: 16px;
}

/* feed title - checkbox wrapper (checked) */
.claro div.dijitCheckBox.dijitChecked {
  background-image: url("/tt-rss/themes/../clean-greader-img/checkmark.png");
  background-position: -5px -5px;
}

/* feed title - checkbox wrapper (hover) */
.claro div.dijitCheckBox:hover {
  background-color: #eee;
}

/* resize containers button */
.claro .dijitToolbar .dijitButton .dijitButtonNode:hover {
  -webkit-transition: none !important;
  -moz-transition:    none !important;
  -o-transition:      none !important;
  -ms-transition:     none !important;
  transition:         none !important;
  background: rgba(0, 0, 0, 0);
  border: 0 solid #fff;
  padding: 2px;
}

.claro .dijitToolbar .dijitButton .dijitButtonNode .dijitButtonContents {
  background-image: url("../clean-greader-img/leftright.jpg");
  background-repeat: no-repeat;
  background-size: 20px;
  content: url("../clean-greader-img/blank_icon.gif");
  margin: 0 8px;
  opacity: 0.4;
  outline: none;
  position: relative;
  top: 2px;
}

.claro .dijitToolbar .dijitButton .dijitButtonNode .dijitButtonContents:hover {
  opacity: 0.8;
}


/**
  * controls
**/

/* drop down menus in main toolbar */
.claro .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.claro .dijitToolbar .dijitComboButton .dijitButtonNode,
.claro .dijitToolbar .dijitValidationTextBox {
  -webkit-transition: none !important;
  -moz-transition:    none !important;
  -o-transition:      none !important;
  -ms-transition:     none !important;
  transition:         none !important;

  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}

.claro .dijitToolbar .dijitDropDownButton,
.claro .dijitToolbar .dijitComboButton,
.claro .dijitToolbar .dijitValidationTextBox {
  border: 1px solid rgb(198, 198, 198);
  background: #f5f5f5;
  x-background-image: -webkit-linear-gradient(top, rgb(248, 248, 248), rgb(236, 236, 236));
  x-border-radius: 2px;
  margin: 0px 4px;
}

.claro .dijitToolbar .dijitDropDownButton,
.claro .dijitToolbar .dijitComboButton,
.claro .dijitToolbar .dijitValidationTextBox .dijitButtonContents {
  padding: 5px;
}

.claro .dijitToolbar .dijitDropDownButton:hover,
.claro .dijitComboButton:hover,
.claro .dijitToolbar .dijitValidationTextBox:hover {
  background: #fff;
  x-background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(236, 236, 236));
  border: 1px solid rgb(187, 187, 187);
}

.claro .dijitToolbar .dijitDropDownButton .dijitDownArrowButton:after,
.claro .dijitToolbar .dijitComboButton .dijitButtonNode.dijitDownArrowButton, 
.claro .dijitToolbar .dijitValidationTextBox .dijitButtonContents:after {
  -webkit-transition: none !important;
  -moz-transition:    none !important;
  -o-transition:      none !important;
  -ms-transition:     none !important;
  transition:         none !important;

  background-image: url("../clean-greader-img/clean-greader-001.png");
  background-color: red;
  content: url("../clean-greader-img/blank_icon.gif");
  border: 0px solid black;
  position: relative;
  opacity: 0.4;
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0);
}

.claro .dijitToolbar .dijitDropDownButton .dijitDownArrowButton:after { background-position: -23px -117px; }
.claro .dijitToolbar .dijitComboButton .dijitButtonNode.dijitDownArrowButton { background-position: -23px -117px; }
.claro .dijitToolbar .dijitValidationTextBox .dijitButtonContents:after { background-position: -23px -123px; }

.claro .dijitToolbar .dijitValidationTextBox .dijitArrowButtonContainer {
  border: 0px solid #fff;
}

.claro .dijitToolbar .dijitDropDownButton .dijitDownArrowButton .dijitArrowButtonInner,
.claro .dijitToolbar .dijitDropDownButton .dijitDownArrowButton .dijitArrowButtonChar,
.claro .dijitToolbar .dijitValidationTextBox .dijitArrowButtonContainer {
  display: none;
}

.claro .dijitToolbar .dijitDropDownButton .dijitDownArrowButton,
.claro .dijitToolbar .dijitComboButton .dijitDownArrowButton,
.claro .dijitToolbar .dijitValidationTextBox .dijitButtonContents {
  border: 0px solid #fff;
}

/* popup menu */
.claro .dijitMenu {
  border: 1px solid rgba(0, 0, 0, 0.2);
  x-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 16px 0px;
  -webkit-box-shadow: none;
}

.claro .dijitMenuPopup .dijitMenuItemLabel {
  font-size: 12px;
}


.claro .dijitSelectSelectedOption *,
.claro .dijitSelectMenu .dijitMenuItemSelected.dijitSelectSelectedOption td, .claro .dijitComboBoxMenu .dijitMenuItemSelected.dijitSelectSelectedOption {
  color: #dd4b39;
}

.claro .dijitSelectMenu .dijitMenuItemHover td, .claro .dijitSelectMenu .dijitMenuItemSelected td, .claro .dijitMenuItemHover, .claro .dijitMenuItemSelected {
  background: #eee;
  border-width: 1px 0;
  border-color: rgba(0, 0, 0, 0);
}

/* drop down menus in headlines toolbar */
div#headlines-toolbar .dijitValidationTextBoxLabel {
  color: #737373;
  font-size: 12px;
  border-bottom: 2px solid transparent;
  margin: 0;
  padding: 4px 18px;
}

div#headlines-toolbar .dijitValidationTextBoxLabel:hover {
  color: #333333;
  border-bottom: 2px solid #dd4b39;
}

.claro #headlines-toolbar .dijitValidationTextBox {
  -webkit-transition: none !important;
  -moz-transition:    none !important;
  -o-transition:      none !important;
  -ms-transition:     none !important;
  transition:         none !important;

  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  
  vertical-align: bottom;
  top: 1px;
}

.claro #headlines-toolbar .dijitValidationTextBox:hover { background: transparent; }
.claro #headlines-toolbar .dijitValidationTextBox .dijitArrowButtonContainer { display: none; }
.claro #headlines-toolbar .dijitValidationTextBox .dijitButtonContents { border: 0px solid #fff; }



/**
  * SPACE FOR WORK IN PROGRESS
**/